@import "src/common/styles/mixins";

.tableWrapper {
  min-width: 594px;

  .table {
    @include table-style;

    .tableHeader {
      height: 40px;
    }

    .tableCell {
      text-align: start;
    }
  }
}