@import "src/common/styles/mixins";
@import "src/common/styles/variables";
 
.table {
  @include table-style;
  
  .tableHeader {
      height: 2rem;
    }

  .firstColumn {
    text-align: start;
  }
}
.btnBlock {
  @include display(row, 1rem);
  margin-top: 1rem;
}