@import "src/common/styles/variables";
@import "src/common/styles/mixins";


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(25px + 5 * (100vw - 1024px) / 896);

  .headerButtons__wrapper {
    @include display(row, 8px)
  }
}
