@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.orderTab__wrapper {
  @include display(column, 30px);

  .orderTab__table {
    height: 500px;
    border: 1px solid $dark_blue;
    background-color: $elements_inner_background_color;
  }

  .orderTab__filters_block {
    @include display(column, 30px);

    .orderTab__filter {
      @include display(row, 100px);
      align-items: start;
      justify-content: space-between;
      width: 744px;
      position: relative;

      .orderTab__filter_input {
        width: 508px;

        .orderTab__filter_label {
          @include text(14px, 17px, 400, $table_border_color);
          margin-left: 195px;
        }
      }
    }

    .modal__wrapper {
      position: absolute;
      width: 390px;
      height: 380px;
      z-index: 1;
      bottom: 92px;
      left: 200px
    }
  }
}