@import "src/common/styles/variables";

@mixin text($fontSize, $lineHeight, $fontWeight, $color) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $color
}

@mixin display($flexDirection, $gap, $justifyContent:normal,$alignItems:normal ) {
  display: flex;
  flex-direction: $flexDirection;
  gap: $gap;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin table-style {
  border-collapse: collapse;
  font-family: $font, sans-serif;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  & th, thead {
    border: 1px solid $dark_blue;
    background-color: $main_background_color;
    font-weight: 400;
  }
  & td {
    text-align: center;
    border: 1px solid #95B0C8;
    padding: 5px;
    background-color: $elements_inner_background_color;
  }
  & tr {
    border-color: #95B0C8;
  }
  & select {
    padding: 5px;
  }
}

@mixin function-button {
  border: none;
  background-color: $blue_button_color;
  @include text(calc(10px + 6 * ((100vw - 1024px) / 896)), calc(13px + 7 * (100vw - 1024px) / 896), 400, $button_text_color);
  padding: calc(6px - 1 * (100vw - 1024px) / 896) 13px;
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 $blue_button_color_shadow;
  &:hover {
    transition: .3s ease-in-out all;
    background-color: $pressed_blue_button;
  }
  &:active {
    background-color: $pressed_blue_button;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  &:disabled {
    background-color: #95B0C8;
    opacity: 0.7;
  }
}

@mixin inputs {
  padding: 5px 10px;
  border: 1px solid $dark_blue;
  background-color: #FFF;
}

@mixin scrollableTableWrapper($height) {
  height: $height;
  position: relative;
  overflow-y: auto;
  border: 1px solid $dark_border_color;
  thead {
    position: sticky;
    top: 0;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #d9d9d9;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue_button_color;
    border-radius: 5px;
  }
}

@mixin navButton($bg-color, $active-bg-color) {
  @include text(calc(10px + 6 * ((100vw - 1024px) / 896)), calc(13px + 7 * (100vw - 1024px) / 896), 400, $button_text_color);
  text-decoration: none;
  padding: calc(6px - 1 * (100vw - 1024px) / 896) 13px;
  background-color: $bg-color;
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 $turquoise_button_color_shadow;
  &:hover {
    background-color: $active-bg-color;
    color: $button_text_color_hover;
  }
  &.active {
    background-color: $active-bg-color;
    color: $button_text_color;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@mixin tableActiveRow($bg-color){
  td {
        background-color: $bg-color;
    }
}
