@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.filter {
    @include display(row, 0.5rem);
    position: relative;    
    align-items: center;
    color: $text_color;
    label {
        @include display(row, 0.5rem);
        align-items: center;
        input {        
            @include inputs;
        }
    }    
    
}
.filterTools {
    @include display(row, 0.5rem);
    align-items: center;
    margin-top: 1rem;
}

.showArchive {
    justify-self: center;    
    & input {
        margin-right: 0.5rem;
    }
}