@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.filter {
    @include display(row, 1rem);
    position: relative;    
    align-items: center;
    @include text(16px, 19px, 400, $text_color);
    label {
        @include display(row, 1rem);
        align-items: center;
        input {        
            @include inputs;
        }
    }    
    
}
.filterTools {
    @include display(row, 30px);
    align-items: center;
    margin-top: 1rem;
}

.showArchive {
    justify-self: center;    
    & input {
        margin-right: 10px;
    }
}