@import "src/common/styles/mixins";

.modalContainer {
  @include display(column, 23px);
  align-items: center;
  padding: 22px 50px 16px 50px;

  .informationGroup {
    @include display(row, 14px);

    .question {
      display: flex;
      width: 192px;
      height: 64px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .buttonGroup {
    @include display(row, 40px)
  }
}