@import "src/common/styles/variables";
@import "src/common/styles/mixins";


.authLayout__wrapper {
  background-color: $auth_form_background_color;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}