@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.typeOfCargo__wrapper{
  @include display(row, 100px);

  .typeOfCargo__block_wrapper {
    @include display(column, 35px);

    .typeOfCargo__table_wrapper {
      width: 530px;
      height: 710px;
      border: 1px solid $dark_blue;
      background-color: $elements_inner_background_color;
    }

    .typeOfCargo__searchBlock_wrapper {
      @include display(row, 35px);

      .typeOfCargo__searchBlock {
        width: 375px;
      }
    }

    .typeOfCargo__emptyBlock_wrapper {
      height: 30px;
    }

    .typeOfCargo__buttons_wrapper {
      @include display(row, 35px);
    }
  }

}