@import "src/common/styles/mixins";
@import "src/common/styles/variables";

.mainContainer {
  @include display(column, 20px);
  
  .tablesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
  }

  .descriptionAndDocumentsContainer {
    max-width: 915px;
    min-width: 508px;
    
    @include display(column, 35px);
    flex: 1;
  }

  .editButtons {
    margin: 0 auto;
  }

  .divisionButton {
    margin-right: 125px;
    margin-left: auto;
  }
}