@import "src/common/styles/mixins";
@import "src/common/styles/variables";

.container {
  @include display(column, 47px);
  align-items: flex-start;

  .tableWrapper {
    min-width: 1318px;

    .table {
      @include table-style;
      .activeRow {
        @include tableActiveRow($table_active_row_bg_color);
      }
    }
  }

  .logicWrapper {
    @include display(row, 122px);
    align-items: flex-start;
  }
}

