@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.app__wrapper {
  background-color: $main_background_color;
  padding: 1rem;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;

  header {
    margin-bottom: 10px;
  }
}

