@import "src/common/styles/mixins.scss";
@import "src/common/styles/variables.scss";

.tableWrapper {
  min-width: 450px;

  .table {
    @include table-style;

    .tableHeader {
      height: 2rem;
    }

    .firstColumn {
      text-align: start;
    }    
  }
  .activeRow {
    @include tableActiveRow($table_active_row_bg_color);
  }
}
