@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  border: none;
  white-space: nowrap;
  background-color: $turquoise_button_color;
  @include text(calc(10px + 6 * ((100vw - 1024px) / 896)), calc(13px + 7 * (100vw - 1024px) / 896), 400, $button_text_color);
  padding: calc(6px - 1 * (100vw - 1024px) / 896) 13px;
  border-radius: 3px;
  box-shadow:  0 4px 4px 0 #52A092;
  align-self: center;

  &:hover {
    transition: .3s ease-in-out all;
    background-color: $pressed_turquoise_button;
  }
}

.button_active {
  background-color: $pressed_turquoise_button;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}
