@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.popup {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 425px;
    img {        
        width: 60px;
        height: 50px;
        flex-basis: 40%;
    }
    p {
        flex-basis: 60%;
        text-align: center;
    }
}
.btnBlock {
    flex-basis: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}