@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.modal_container {
  position: fixed;
  top: 12%;
  right: -3%;
  transform: translate(-50%, -50%);
  background-color: $button_text_color;
  color: $black;
  border: 1px solid $table_border_color;
  min-width: 200px;
  display: flex;
  flex-direction: column;

  .text {
    height: 27px;
    width: 200px;
    padding: 3px 0 3px 5px;
    border-bottom: 1px solid $warning_background_color;
    @include text(16px, 18px, 500, $black);

    &:hover {
      background-color: $button_text_color_hover;
      cursor: pointer;
    }
  }
}
