@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  font-size: calc(14px + (0.01 * (100vw - 320px)) / (1280 - 320));
}

main, #root {
  height: 100%;
}

main, header, footer {
  max-width: 2000px;
  margin-inline: auto;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
  font-size: 1rem;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}