@import "src/common/styles/variables";
@import "src/common/styles/mixins";


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .headerButtons__wrapper {
    @include display(row, 8px);    
  }
}
