@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.typesOfTraffic__wrapper {
  @include display(column, 35px);

  .typesOfTraffic__table_wrapper {
    width: 530px;
    height: 710px;
    border: 1px solid $dark_blue;
    background-color: $elements_inner_background_color;
  }

  .typesOfTraffic__searchBlock_wrapper {
    @include display(row, 35px);

    .typesOfTraffic__searchBlock {
      width: 375px;
    }
  }

  .typesOfTraffic__buttons_wrapper {
    @include display(row, 35px);
  }
}