@import "../../../../common/styles/variables";
@import "../../../../common/styles/mixins";


.pinningTheDriverTab__wrapper {
  @include display(column, 37px);
  position: relative;

  .pinningTheDriverTab__table_wrapper {
    @include display(row, 37px);
    align-items: flex-end;

    .pinningTheDriverTab__table {
      height: 660px;
      border: 1px solid $dark_blue;
      background-color: $elements_inner_background_color;
    }

    .pinningTheDriverTab__buttons_wrapper {
      @include display(column, 30px);

      .pinningTheDriverTab__buttons {
        @include display(row, 20px);
      }
    }
  }

  .pinningTheDriverTab__buttonsBlock_wrapper {
    @include display(row, 60px);
    position: absolute;
    bottom: -70px;
  }
}
